@{
    ViewBag.Title = "Dashboard";
}

@{
    ViewBag.FullName = Session["FName"].ToString() + " " + Session["LName"].ToString();
    ViewBag.FullName = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(ViewBag.FullName);
}

<div class="wrapper">

    <div class="wrapper-heading">
        <h3>Dashboard</h3>
        <input type="hidden" id="nameSessionVariable" class="text-capitalize" value="@ViewBag.FullName" />
    </div>

    <div>

        <div class="row">
            <div class="tile tile-wide">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">Total no of Activities</div>
                <div class="tile-content">27</div>
            </div>
            <div class="tile">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">In last week</div>
                <div class="tile-content">8</div>
            </div>
            <div class="tile tile-wide">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">In last month</div>
                <div class="tile-content">25</div>
            </div>
            <div class="tile">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">Updates</div>
                <div class="tile-content">7</div>
            </div>
        </div>

        <div class="row">
            <div class="tile">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">Total no of Activities</div>
                <div class="tile-content">7</div>
            </div>
            <div class="tile tile-wide">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">In last week</div>
                <div class="tile-content">8</div>
            </div>
            <div class="tile tile-wide">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">In last month</div>
                <div class="tile-content">25</div>
            </div>
            <div class="tile">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">Updates</div>
                <div class="tile-content">7</div>
            </div>
        </div>

        <div class="row">
            <div class="tile tile-wide">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">Total no of Activities</div>
                <div class="tile-content odometer">27</div>
            </div>
            <div class="tile">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">In last week</div>
                <div class="tile-content odometer">8</div>
            </div>
            <div class="tile">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">In last month</div>
                <div class="tile-content odometer">5</div>
            </div>
            <div class="tile tile-wide">
                <img src="~/Resources/Images/tileBackground2.jpg" />
                <div class="tile-title">Updates</div>
                <div class="tile-content odometer">7</div>
            </div>
        </div>

    </div>
</div>


@Scripts.Render("~/bundles/Account/Dashboard")