
@{
    ViewBag.Title = "Already Activated";
    Response.AddHeader("REFRESH", "4;URL=/Home");
}

<div class="container">
    <div class="row activated-row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">

            <header class="page-header">
                <h1 class="page-title">Account already Activated</h1>
            </header>

            <div class="col-sm-12">
                <h3>
                    Kindly discard this link. Thank you.
                </h3>
                <p>Taking you to the home page.</p>

            </div>

        </article>
        <!-- /Article -->
    </div>
</div>	<!-- /container -->