@{
    ViewBag.Title = "LOST ???";
    Response.AddHeader("REFRESH", "4;URL=/Home");
}
<div class="container">
    <div class="row lost-row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">

            <header class="page-header">
                <h1 class="page-title">Looks like you are lost..!!!</h1>
            </header>

            <div class="col-sm-12">
                <h3>
                    Don't worry. We are taking you back into the home page
                    <img src="/Resources/Images/InvalidToken.gif" height="200" />
                </h3>

            </div>

        </article>
        <!-- /Article -->
    </div>
</div>	<!-- /container -->