@*/********************************************************
    ** FileName:    PasswordResetUnsuccessful.cshtml
    ** Author:      Jyoti Prakash Jena
    ** Date:        7.10.2016
    ** Purpose:     Shows view if the password reset is unsuccessful
    ********************************************************/*@
@{
    ViewBag.Title = "Unsuccessful Password Reset";
}


<div class="container">
    <div class="row enterNew-row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title error" id="HeaderText">Password Reset Successful</h1>
            </header>
        </article>
    </div>
</div>