@*/********************************************************
    ** FileName:    Verify.cshtml
    ** Author:      Jyoti Prakash Jena
    ** Date:        6.10.2016
    ** Purpose:     Verifies the token against email id
    ********************************************************/*@

@{
    ViewBag.Title = "Email Verification";
}

<div class="container">
    <div class="row verification-row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">

            <header class="page-header">
                <h1 class="page-title">EMail Verification Successful</h1>
            </header>

            <div class="col-sm-12">
                <h3>Dear <span id="nameServer" class="text-capitalize">@ViewBag.name</span>,</h3>
                <p>
                    You have successfully verified your EMail-Id i.e. <b id="emailServer">@ViewBag.email</b>.
                </p>
                <p>Registration details have been sent your registered Email-Id. Kindly check.</p>
                <p>
                    Kindly note your User Identity Code :
                    <span id="userIdServer" class="h3">@ViewBag.userId</span> for future references.
                </p>
                <p>Head to the <a href="@Url.Action("Index", "Home")">LogIn</a> Page to LogIn into your account.</p>
            </div>

        </article>
        <!-- /Article -->
    </div>
</div>	<!-- /container -->