@*/********************************************************
** FileName:    Index.cshtml
** Author:      Jyoti Prakash Jena
** Date:        28.9.2016
** Purpose:     View of the Index page or SignIn page
********************************************************/*@

@using WebGrease.Css.Ast.Selectors
@{
    ViewBag.Title = "SignIn";
}

@if (!this.IsPost) { Session["statusCode"] = MyPrescription.Util.SignInStatusCode.initial; }

<!-- Header -->
<div id="head">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-7">
                <h1 class="lead">MY PRESCRIPTION</h1>
                <p class="tagline">my doctor my prescription</p>
                <p>
                    <a class="btn btn-default btn-lg" href="@Url.Action("About", "Home")#WhyAreYouHere">
                        WHY ARE YOU HERE
                    </a>
                    <a class="btn btn-action btn-lg" href="@Url.Action("SignUp", "NonAccount")">
                        SIGN UP
                    </a>
                </p>
            </div>

            <div>
                <div id="popover-content" class="hidden">
                    <div>
                        1. Write email in the proper format i.e. abc@xyz.com <br />
                        2. Password must be of atleast 8 characters
                    </div>
                </div>

                <div id="popover-title" class="hidden">
                    <b>Please correct the following</b>
                </div>
            </div>



            <div class="col-sm-5">
                
                <!--If credentials are invalid then show a Invalid Credentials message-->
                <div id="invalidText" class="hidden">
                    <b> &#10007; Kindly double check your credentials<br/></b>
                </div>
                

                <div class="form-container">
                    <div class="form style-2">
                        <div class="header">
                            <h1 class="active">Sign In</h1>
                        </div>

                        <div id="frmDiv">
                            <form class="active" method="post">
                                <div class="form-group">
                                    <input id="username" type="text" placeholder="Email-id" required="required" maxlength="50"/>
                                    <label for="username" data-placement="top" id="popover">Email-id</label>
                                    <div class="line"></div>
                                </div>
                                <div class="form-group">
                                    <input id="password" type="password" placeholder="Password" required="required" maxlength="30"/>
                                    <label for="password">Password</label>
                                    <div class="line"></div>
                                </div>
                                <button id="logIn" class="button">Login</button>
                                <div id="temp" class="footer">
                                    <a href="@Url.Action("ForgotPassword", "NonAccount")"><b>Forgot your password?</b></a>
                                </div>
                            </form>
                        </div>

                        <div id="loadingDiv"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- /Header -->
@Scripts.Render("~/bundles/NonAccount/SignIn")